[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
matplotlib = "*"
scipy = "*"
django-heroku = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
python-dotenv = "*"
django-widget-tweaks = "*"
plotly = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
